.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "cabecera"
      "principal"
      "pie";
    min-height: 100%;
}

.principal {
    grid-area: principal;
}

.cabecera {
    grid-area: cabecera;
}

.pie {
    grid-area: pie;
}

/*Formulario para el registro y el login*/
#signupFrm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.form {
    background-color: rgb(255, 255, 255);
    width: 400px;
    border-radius: 8px;
    padding: 20px 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 30px;
    margin-bottom: 30px;
    color:#A72DF0
}

.inputContainer {
    position: relative;
    height: 55px;
    width: 80%;
    margin-bottom: 17px;
}

.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
}

::placeholder {
    color: transparent;
}

.label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: #DADCE0;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
}

.submitBtn {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: #A72DF0;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.submitBtn:hover {
    background-color: #d58cff;
    transform: translateY(-2px);
}

.input:focus+.label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: #A72DF0;
}

.input:focus {
    border: 2px solid #A72DF0;
}

.input:not(:placeholder-shown)+.label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
}

.fondo {
    width: 100%;
    height: 100%;
}
